
@model List<Web_153502_Logvinovich.Domain.Entities.Book>;

<h1>Ваша корзина</h1>
@{

}
<p>
    <a class="btn btn-primary" asp-page="/Create"><i class="bi bi-plus-lg"></i>Create New</a>
</p>
<table class="table">
    <tbody>
        @for (var i = 0; i < Model.Count; ++i))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img src="@item.Image">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <span>@item.</span>
                </td>
                <td>
                    <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
